<%- include('./partials/header') %>
<%- include('./partials/homenavbar') %>

<body>

    <div class="container">
        <hr>

        <div class="card">
            <div class="card-header">
            <h2><%=articles.title%></h2>
            </div>
            <div class="card.body">
            <%-articles.body%>
            </div>
           </div>

    </div>
    
    </body>

<%- include('./partials/footer') %>